<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

In [ ]:
# Data Science Tools and Ecosystem

In [ ]:
In this notebook, Data Science Tools and Ecosystem are summarized.

In [ ]:
Some of the popular languages that Data Scientists use are:

1. Java
2. Python
3. JavaScript

In [ ]:
Some of the commonly used libraries used by Data Scientists include:

2. PyTorch
3. Scikit-learn
4. Keras
5. Apache MXNet

In [ ]:
| Data Science Tools |
| ---------------------- |
| python |
| R |
| apache hadoop |

In [ ]:
### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers

(3*4)+5.

17.0

In [2]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

In [ ]:
*Objectives:*

- Make simple arithmetic expressin
- Name Data Science Tools
- Name Data Science Libraries

In [3]:
## Author

David Romero Vallejos

SyntaxError: invalid non-printable character U+00A0 (2125073926.py, line 3)